
body {
  padding: 1em;
}

#object_list {
  list-style: none;
  font-family: monospace;
}

#object_list li * {
  display: inline-block;
  vertical-align: middle;
}


#object_list span:first-child {
  max-width: 5em;
  overflow: hidden;
  text-overflow: ellipsis;
}

menu {
  overflow: hidden;
}

menu > * {
  display: inline-block;
  margin-left: 1em;
}

menu > *:first-child, menu > *:first-child::before {
  content: "";
  margin: 0;
}

menu form {
  display: inline;
}

menu > *::before {
  content: "|";
  margin-right: 1em;
}